.btn-primary{
    color: #000;
    background-color: #ffffff;
    border-color: #da4f4f;
    font-weight: 400;
    font-family: 'Electrolize', sans-serif;
    font-size: 20px;
}

.btn-primary:hover{
    background-color: #da4f4f;
}

.re-header-bar{
    background: rgb(207,207,207);
    background: radial-gradient(circle, rgba(207,207,207,1) 0%, rgba(255,253,253,1) 100%, rgba(0,0,0,1) 100%);
}

.re-header-link{
    background-color: #da4f4f;
}

.re-store-header{
    background: rgb(255,253,253);
    background: radial-gradient(circle, rgba(255,253,253,1) 0%, rgba(196,196,196,1) 50%, rgba(108,108,108,1) 100%);
}

.re-store-splint{
    width: 100%;
    height: 5px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,253,253,1) 25%, rgba(0,0,0,1) 100%);
}

.re-store-book{
    background: rgb(255,253,253);
    background: radial-gradient(circle, rgba(255,253,253,1) 0%, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 100%);
}

.re-store-name{
    font-family: 'Electrolize', sans-serif;
    font-weight: 400;
    font-size: 54px;
    text-align: center;
}

.re-navbar-link{
    font-family: 'Electrolize', sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
}

#re-nav-dropdown{
    font-family: 'Electrolize', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.re-nav-dropdown{

}

.re-logotype{
    font-size: 48px;
    text-align: center;
    color: #da4f4f;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #da4f4f;
    width: 100vw;
    height: 0.8vh;
}

.carousel-indicators{
    margin-left: 13px;
    margin-right: 13px;
}


.re-slider-bar{
    background: rgb(207,207,207);
    background: radial-gradient(circle, rgba(207,207,207,1) 0%, rgba(255,253,253,1) 100%, rgba(0,0,0,1) 100%);
    background: #ffffff;
}

.re-slider-img{
    border-radius: 20px 20px 0px 0px;
}

.re-slider-text{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    display: flex;
}

.re-slider-cols{
    max-height: 500px;
}

.re-slider-name{
    font-family: 'Shippori Antique', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 48px;
    color: #da4f4f;
}

.re-best-header{
    min-height: 100%;
}

.re-best-text{
    text-overflow: ellipsis;
}

.re-heart{
    color: #da4f4f;
}

@media (max-width: 768px) {
    .re-store-name{
        font-size: 27px;
    }
    #re-nav-dropdown{

        text-align: center;
    }
}
