.btn-primary{
    color: #000;
    background-color: #ffffff;
    border-color: #da4f4f;
    font-weight: 400;
    font-family: 'Electrolize', sans-serif;
    font-size: 20px;
}

.btn-primary:hover{
    background-color: #da4f4f;
}

.btn-primary {
    color: #000000;
    background-color: #cfcfcf;
    border-color: #cfcfcf;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #ffffff;
    background-color: #da4f4f;
    border-color: #da4f4f;
    box-shadow: 0 0 0 0.25rem #e8b2b2;
}


.re-header-bar{
    background: rgb(207,207,207);
    background: radial-gradient(circle, rgba(207,207,207,1) 0%, rgba(255,253,253,1) 100%, rgba(0,0,0,1) 100%);
}

.re-header-link{
    background-color: #da4f4f;
}

.re-store-header-link-left{
    width: 50%;
}

.re-store-header-link-right{
    width: 50%;
    justify-content: end;
}

.re-store-header{
    background: rgb(255,253,253);
    background: radial-gradient(circle, rgba(255,253,253,1) 0%, rgba(196,196,196,1) 50%, rgba(108,108,108,1) 100%);
}

.re-store-splint{
    width: 100%;
    height: 5px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,253,253,1) 25%, rgba(0,0,0,1) 100%);
}

.re-store-book{
    background: rgb(255,253,253);
    background: radial-gradient(circle, rgba(255,253,253,1) 0%, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 100%);
}

.re-store-name{
    font-family: 'Electrolize', sans-serif;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
}

.re-store-button-elements{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
}

.re-header-book-list{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

#re-nav-dropdown{
    font-family: 'Electrolize', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.re-logotype{
    font-size: 64px;
    text-align: center;
    color: #da4f4f;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #da4f4f;
    width: 100vw;
    height: 0.8vh;
}

.carousel-indicators{
    margin-left: 13px;
    margin-right: 13px;
}

.best-card-img{
    height: 100%;
    width: 100%;
    aspect-ratio: 0.7;
}

.circle-slider-image{
    background-color: #da4f4f;
    border-radius: 10%;
    width: 18em;
    height: 25em;
    z-index: 1;
    margin: 60px;
}

.circle-image{
    border-radius: 10%;
}

.circle-slider-circle{
    position: absolute;
    background-color: #cfcfcf;
    width: 23em;
    height: 23em;
    border-radius: 50%;
}

.best-text{
    max-height: 300px;
}


.re-slider-bar{
    background: rgb(207,207,207);
    background: radial-gradient(circle, rgba(207,207,207,1) 0%, rgba(255,253,253,1) 100%, rgba(0,0,0,1) 100%);
    background: #ffffff;
}

.re-slider-img{
    border-radius: 20px 20px 0px 0px;
    aspect-ratio: 0.7;
}

.re-slider-text{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    display: flex;
}

.re-slider-cols{
    max-height: 500px;
}

.re-slider-name{
    font-family: 'Shippori Antique', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 48px;
    color: #da4f4f;
}

.re-slider-author{
    font-family: 'Shippori Antique', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    color: #da4f4f;
}

.re-best-header{
    min-height: 100%;
}

.re-best-text{
    text-overflow: ellipsis;
}

.re-heart{
    color: #da4f4f;
}

@media (max-width: 430px) {
    .re-store-header-link-left{

        justify-content: right;
    }
    .re-store-header-link-right{

        justify-content: left;
    }
    .re-header-collapse{
        justify-content: center;
    }
    .re-store-name{
        position: absolute;
    }
    .re-logotype{
        display: none;
    }
}

@media (max-width: 1086px) {
    .re-store-button-elements{
        display: none;
    }
}

@media (max-width: 768px) {
    .re-store-header-navlink{
        font-size: 64px;
        color: #fff;
    }

    .re-store-name-part{
        display: none;
    }

    .re-motion-logotype{

    }

    #re-nav-dropdown{
        text-align: center;
    }
}
