.app-header-navbar{
    background: rgb(207,207,207);
    background: radial-gradient(circle, rgba(207,207,207,1) 0%, rgba(255,253,253,1) 100%, rgba(0,0,0,1) 100%);
}

.app-header-nav-link-div-left{
    width: 50%;
    justify-content: start;
}

.app-header-nav-link-div-right{
    width: 50%;
    justify-content: end;
}

@media (max-width: 430px) {
    .app-header-navbar-collapse{
        justify-content: center;
    }
    .app-header-nav-link-div-left{
        justify-content: end;
    }
    .app-header-nav-link-div-right{
        justify-content: start;
    }
}